@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
}

ul[class],
ol[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

.wrap {
    max-width: 1110px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}



.header-wrap {
    background: url(../img/bg-head.jpg) top center no-repeat;
    background-size: cover;
}

.header-wrap-color {
    background: linear-gradient(90deg, rgba(171, 32, 213, 0.8) 0%, rgba(238, 27, 217, 0.8) 100%);
    padding: 50px 0 200px 0;
    /*отступ сверху 50 и отступ снизу от последней кнопки 200*/
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 175px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu li a {
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    font-size: 0, 875rem;
}

.menu li a:hover {
    color: #e9a7f6;
}

.btn {
    padding: 10px 30px;
    color: #fff;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 6px;
}

.transparent-btn:hover {
    color: #e9a7f6;
    background-color: #e44ef8;
    border: 1px solid #e44ef8;
}

.header-content {
    text-align: center;
    color: #fff;
}

.header-content h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4.5rem;
    margin-bottom: 40px;
}

.header-content h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 80px;
    line-height: 2.25rem;

}

.white-btn {
    color: #e44ef8;
    background: #fff;
    padding: 17px 53px;
    margin-bottom: 40px;
}

.about-wrap {
    padding: 100px 0;
}

.about-block {
    display: flex;
}

.about-block-txt,
.about-block-img {
    width: 40%;
    margin-right: 10%;
    align-self: center;
}

img {
    border-radius: 15px;
}

h2 {
    font-weight: 500;
    font-size: 2.25rem;
}

.about-block-txt h2 {
    margin-bottom: 2rem;
}

.about-block-txt p {
    text-align: justify;
    font-weight: 400;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.link {
    color: #AB20D5;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.posibilities-wrap {
    background: #FAFAFA;
    padding: 70px 0;
}

.posibilities-wrap>h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.posibilities-block {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.posibilities-block-item {
    max-width: 350px;
    text-align: center;
    color: #101010;
    display: flex;
    flex-direction: column;
}

.posibilities-block-txt {
    background: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px 20px 1px 20px;
    margin: -95px 30px 0 30px;
    z-index: 1;
    position: relative;
    flex-grow: 1;
}

.posibilities-block-txt h3 {
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.posibilities-block-txt p {
    font-weight: 400;
    font-size: 0.75rem;
    margin-bottom: 20px;
}

.tech-wrap {
    padding: 70px 0;
}

.tech-wrap>h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.tech-block {
    display: flex;
    justify-content: space-between;
}

.tech-block-item {
    max-width: 200px;
    color: #101010;
    text-align: center;
}

.tech-block-item header {
    font-weight: 700;
    font-size: 6.25rem;
    color: rgba(16, 16, 16, 0.08);
    margin-bottom: 1rem;
    position: relative;
}

.tech-block-item header img {
    border-radius: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.tech-block-item h3 {
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.tech-block-item p {
    font-weight: 400;
    font-size: 0.75rem;
    margin-bottom: 20px;
}

.download-wrap {
    background: linear-gradient(90deg, rgba(171, 32, 213, 0.6) 0%, rgba(238, 27, 217, 0.6) 100%);
    padding: 100px 0;
}

.download-block {
    display: flex;
    color: #fff;
}

.download-block-txt,
.download-block-img {
    width: 42%;
    margin-right: 8%;
    align-self: center;
}

.download-block-txt h2 {
    margin-bottom: 2rem;
}

.download-block-txt p {
    text-align: justify;
    font-weight: 400;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.download-app {
    display: flex;
    margin-top: 3rem;
}

.download-app a {
    margin-right: 1rem;
}

.contact-wrap {
    padding: 100px 0;
}

.contact-block {
    display: flex;
}

.contact-block-txt {
    width: 42%;
    margin-right: 8%;
    align-self: center;
}

.contact-block-form {
    width: 50%;
}

.contact-block-txt h2 {
    margin-bottom: 2rem;
}

.contact-block-txt p {
    text-align: justify;
    font-weight: 400;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.input-txt {
    border: 1px solid #333333;
    border-radius: 6px;
    display: block;
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 1rem;
    outline-color: #e44ef8;
}

.r-btn {
    background: #e44ef8;
    color: #fff;
    text-transform: uppercase;
    padding: 17px 53px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.footer-wrap {
    background-color: #FAFAFA;
}

.footer-block {
    color: #101010;
    font-size: 0.75rem;
    padding: 30px 0;
}

.footer-block-item {
    margin-bottom: 2rem;
}

.footer-block-item h3 {
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

@media (max-width: 800px) {

    /*header*/
    .header-wrap-color {
        padding-top: 20px;
    }

    .header-top {
        flex-direction: column;
    }

    .header-top-logo {
        order: 1;
        align-self: flex-start;
    }

    .header-top-menu {
        order: 3;
    }

    .header-top-button {
        order: 2;
        margin: -23px 0 50px 0;
        align-self: flex-end;
    }

    .menu {
        justify-content: center;
    }

    .menu li {
        margin-bottom: 15px;
    }

    /*about block*/
    .about-wrap {
        padding: 3rem 1rem;
    }

    .about-block {
        flex-direction: column-reverse;
        width: 80%;
    }

    .about-block-txt,
    .about-block-img {
        width: 100%;
        margin: 0 0 2rem 0;
    }

    .about-block-img img {
        margin: 0 auto;
    }

    /*posibilities block*/
    .posibilities-wrap {
        padding: 3rem 0;
    }

    .posibilities-block {
        width: 80%;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    /*tech block*/

    .tech-block {
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80%;
    }

    .tech-block-item {
        max-width: 40%;
    }

    /*download block*/
    .download-wrap {
        padding: 3rem 1rem;
    }

    .download-block {
        flex-direction: column-reverse;
    }

    .download-block-txt,
    .download-block-img {
        width: 80%;
        margin: 0 0 2rem 0;
    }

    .download-block-img img {
        margin: 0 auto;
    }

    /*contact block*/
    .contact-wrap {
        padding: 3rem 1rem;
    }

    .contact-block {
        flex-direction: column;
    }

    .contact-block-txt,
    .contact-block-form {
        width: 80%;
        margin: 0 0 2rem 0;
        align-self: center;
    }

    .footer-block {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .tech-block-item {
        max-width: 100%;
    }
}